<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="icon" href="../../favicon.ico">-->

    <title>SocioJudge</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <link href="/css/jumbotron-narrow.css" rel="stylesheet">
</head>

<body>

<div class="container">
    <div class="header clearfix">
        <h3 class="text-muted">SocioJudge</h3>
    </div>

    <div class="jumbotron">
        <h2>Hi, {{name}}!</h2>
        <h3>We got you scored!</h3><br>
        <p>Name: {{nameOk}}</p>
        <p>Education: {{educationOk}}</p>
        <p>Work: {{workOk}}</p>
        <p>Not using Too many hashtags: {{hashtagOk}}</p>
        <p>Not been using Takla Language: {{taklaOk}}</p>
    </div>


    <footer class="footer">
        <p>&copy; 2016 Aniruddha Adhikary, Samia Jahin</p>
    </footer>

</div> <!-- /container -->
<script src="/js/jquery-3.1.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>
